/*base css*/
.base html{
	margin: 0;
	font-family: Arial, Helvetica, sans-serif;
	background-color: #1B283B;
}

.base body{
	padding: 0;
	margin: 0;
	background-color:#ECECED;
}

.base.navi{
	background-color: #179fbf;
}

.base.dropbutton {
	background-color: #1B283B;
	color:white;
	padding-top: 25px;
	padding-bottom: 25px;
	padding-left: 40px;
	padding-right: 40px;
	border:none;
	font-weight: bold;
	font-size: 16px;
  }
  
  .base.dropdown {
	position: relative;
	display: inline-block;
	margin: 0;
  }
  
  .base.dropdownstuff {
	display: none;
	position: absolute;
	background-color: #656390;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	z-index: 1;
  }
  
  .base.dropdownstuff a {
	font-family: Arial, Helvetica, sans-serif;
	color: white;
	padding: 20px;
	text-decoration: none;
	display: block;
  }
  
  .dropdownstuff a:hover {
	  background-color: #86B4BC;
	}
  
  .base.dropdown:hover .dropdownstuff {
	display: block;
  }
  
  .base.dropdown:hover .dropbutton {
	background-color: #1B283B;
  }

  .base.auth{
	text-align: right;
	float: right;
	padding: 16px;
}

.base.auth a{
	font-family: Arial, Helvetica, sans-serif;
	text-decoration: none;
	margin-left: 16px;
	margin-right: 16px;
	text-transform: lowercase;
	color: white;
	font-weight: bold;
}

.base.arrowdown{
	transform: rotate(45);
	-webkit-transform: rotate(45deg);
}


/* home */
.home{
	font-family: Arial, Helvetica, sans-serif;
	text-align: center;
}


/* fortune cookie */
.fortune{
	font-family: Arial, Helvetica, sans-serif;
}

.fortune, #theFortune {
	text-align:center;
	font-size: 16px;
}

#theFortune, #luckyNumber {
	visibility: hidden;
}

.fortune button{
	border-radius: 6px;
	padding: 8px 16px;
	color: White;
	background-color: #1B283B;
	font-weight: 500;
	font-size: 16px;
}

#canvasHolderCookie{
	margin: 10px;
}

#container{
	margin: 0%;
	padding: 0%;
}

#fortuneArea{
	margin: auto; 
	background-color: white;
	width: 50%;
}

.fortune p{
	margin: 8px;
	padding: 2px;
}

/* advice */
.advice{
	text-align: center;
}

.advice p{
	font-size: 24px;
	font-weight: bold;
	font-family: Arial, Helvetica, sans-serif;
	margin: 5%;
}

.advice button{
	border-radius: 6px;
	padding: 8px 16px;
	color: White;
	background-color: #1B283B;
	font-weight: 500;
	font-size: 16px;
}

/* auth */
.authpage{
	font-family: Arial, Helvetica, sans-serif;
	margin: 20px auto;
	width: 30%;
	padding: 5px;
	background-color:#86B4BC;
}

.authpage div{
	margin: 0;
	border:solid;
}

.authpage.submit{
	border-radius: 6px;
	color: White;
	background-color: #1B283B;
	font-weight: 500;
	font-size: 16px;
	padding: 0;
	width: 100%;
	padding: 3%;
	margin-top: 5px;
}

.authpage.login input{
	margin-bottom: 10px;
	width: 90%;
	padding: 3%;
}

.authpage.login h1{
	background-color: #656390;
	text-align: center;
	color: white;
	margin: -5px -5px 10px -5px;
}

.authpage.register h1{
	background-color: #656390;
	text-align: center;
	color: white;
	width: 100%;
	margin: -5px -5px 10px -5px;

}

.authpage.register input{
	margin-bottom: 10px;
}

.authpage.register.text{
	width: 90%;
	padding: 3%;
	background-color: white;
	margin-top: 5px;
}

/* fortune */
.fortune.sign.submit{
	border-radius: 6px;
	padding: 8px 16px;
	color: White;
	background-color: #1B283B;
	font-weight: 500;
	font-size: 16px;
}
