/*base css*/
.base html{
	margin: 0;
	font-family: Arial, Helvetica, sans-serif;
	background-color: #1B283B;
}

.base body{
	padding: 0;
	margin: 0;
	background-color:#ECECED;
}

.base.navi{
	background-color: #179FBF;
}

.base.dropbutton {
	background-color: #1B283B;
	color:white;
	padding-top: 25px;
	padding-bottom: 25px;
	padding-left: 40px;
	padding-right: 40px;
	border:none;
	font-weight: bold;
	font-size: 16px;
  }
  
  .base.dropdown {
	position: relative;
	display: inline-block;
	margin: 0;
  }
  
  .base.dropdownstuff {
	display: none;
	position: absolute;
	background-color: #656390;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	z-index: 1;
  }
  
  .base.dropdownstuff a {
	font-family: Arial, Helvetica, sans-serif;
	color: white;
	padding: 20px;
	text-decoration: none;
	display: block;
  }
  
  .dropdownstuff a:hover {
	  background-color: #86B4BC;
	}
  
  .base.dropdown:hover .dropdownstuff {
	display: block;
  }
  
  .base.dropdown:hover .dropbutton {
	background-color: #1B283B;
  }

  .base.auth{
	text-align: right;
	float: right;
	padding: 16px;
}

.base.auth a{
	font-family: Arial, Helvetica, sans-serif;
	text-decoration: none;
	margin-left: 16px;
	margin-right: 16px;
	text-transform: lowercase;
	color: white;
	font-weight: bold;
}

.base.arrowdown{
	transform: rotate(45);
	-webkit-transform: rotate(45deg);
}


/* home */
.home{
	font-family: Arial, Helvetica, sans-serif;
	text-align: center;
}


/* fortune cookie */
#wholeCookie {
	display: block;
	width: 25%;
	height: 25%;
	margin: auto;
	padding-bottom: 2%;
	padding-top: 2%;
}

.fortune, #theFortune {
	text-align:center;
	font-size: 20px;
}

#theFortune, #luckyNumber {
	display: none;
}

.fortune button{
	border-radius: 2em;
	padding: 0.5em 2em;
	color: White;
	background-color: Orchid;
	border: SkyBlue;
	font-weight: 500;
	font-size: 20px;
}


