<!DOCTYPE html>
<html>

    <head>
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
        
        {% if title %}
        <title>{{ title }} - Kismet</title>
        {% else %}
        <title>Welcome to Kismet!</title>
        {% endif %}
    </head>

    <body>
        <div>
        <a href="{{ url_for('index') }}">Home</a>
        <a href="{{ url_for('cookie') }}">Fortune Cookie</a>
        <a href="{{ url_for('mystic9ball') }}">Mystic 9 Ball</a>
        <a href="{{ url_for('horoscope') }}">Horoscope</a>
        <a href="{{ url_for('genie') }}">Genie</a>
        <a href="{{ url_for('moodRing') }}">Mood Ring</a>
        </div>
        <hr>
        {% block content %}{% endblock %}
        
        <script type="text/javascript" src="{{url_for('static', filename='js/cookie.js') }}"></script>
    </body>

</html>
