{% extends "base.html"  %}
{% block content %}

    <div class="fortune container">
        <div class="fortune" id="canvasHolderCookie" align="center">
        </div>
    </div>

    <div class = "fortune" id="fortuneArea">
    <div class="fortune">
        <p class="fortune" id="theFortune">{{fortune}}</p>
    </div>

    <div class="fortune">
        <p class="fortune" id="luckyNumber">Your lucky numbers are {{luckyNumber}}</p>
    </div>
    </div>

    <div class="fortune">
    	<button class="fortune" id="fortuneButton" onclick="showFortune()">Get Fortune</button>
    </div>

    <br>

    <div class="fortune">
        <a class="fortune" href="{{ url_for('routes.cookie') }}"><button>Get Another Cookie</button></a>
    </div>

    <script type="text/javascript" src="{{ url_for('static', filename='js/cookieP5.js') }}"></script>

{% endblock %}
