{% extends "base.html"  %}
{% block content %}

    <div class="cookie" id="cookiePic">
        <img id="wholeCookie" src="{{url_for('static', filename='images/wholeCookie.jpg') }}"/>
    </div>

    <div class="fortune">
    	<button id="fortuneButton" onclick="showFortune()">Get Fortune</button>
    </div>

    </div class="fortune">
        <p id="theFortune">{{fortune}}</p>
    </div>

    <div class="fortune">
    	<p id="luckyNumber">Your lucky numbers are {{luckyNumber}}</p>
    </div>

    <br>

    <div class="fortune">
        <a href="{{ url_for('routes.cookie') }}"><button>Get Another Cookie</button></a>
    </div>

{% endblock %}
