<!--Horoscope Generator-->
<!--Uses base.html-->
{% extends "base.html"  %}

{% block content %}


     <div id="horoscopePic">
        <img id="signs" src="{{url_for('static', filename='images/horoscopePic.jpeg') }}"/>
    </div>

    <div class = "horoscope" id="horoscopeArea">
    <!--Div where fortune will show-->
        <div class="horoscope">
            <p class="horoscope" id="theHoroscope">{{horoscope}}</p>
        </div>

  <form method="post" class="sign">
      
            <h3>
         What's your solar sign?
          </h3>
    <input type="radio" name="zodiac" value="aquarius" required>Aquarius<br>
    <input type="radio" name="zodiac" value="pisces" required>Pisces<br>
    <input type="radio" name="zodiac" value="aries" required>Aries<br>
    <input type="radio" name="zodiac" value="taurus" required>Taurus<br>
    <input type="radio" name="zodiac" value="gemini" required>Gemini<br>
    <input type="radio" name="zodiac" value="cancer" required>Cancer<br>
    <input type="radio" name="zodiac" value="leo" required>Leo<br>
    <input type="radio" name="zodiac" value="virgo" required>Virgo<br>
    <input type="radio" name="zodiac" value="libra" required>Libra<br>
    <input type="radio" name="zodiac" value="scorpio" required>Scorpio<br>
    <input type="radio" name="zodiac" value="sagittarius" required>Sagittarius<br>
    <input type="radio" name="zodiac" value="capricorn" required>Capricorn<br>
<br>
      <h3>
         Pick your Fortune!
          </h3>
      
    <input type="radio" name="fortunes" value="health" required>Health<br>
    <input type="radio" name="fortunes" value="wealth" required>Wealth<br>
    <input type="radio" name="fortunes" value="love" required>Love<br>
    <input class="fortune sign submit" type="submit" value="See your fortune!">
  </form>
        
    <br>

    <!--Button to reload page-->
    <div class="horoscope">
        <a class="horoscope" href="{{ url_for('routes.horoscope') }}"><button>Get Another Horoscope</button></a>
    </div>

{% endblock %}
