{% extends "base.html"  %}
{% block content %}
  <head>
  <link rel="stylesheet" href="{{ url_for('static', filename='m9.css') }}">
  <script type="text/javascript" src="{{url_for('static', filename='js/m9.js') }}"></script>
  </head>
  <body>
  </body>
  <h1 id="result">Welcome to the Mystic 9 Ball! Concentrate on your question, then click the button to see the Mystic 9 ball's answer!</h1>
<div class="circle_container">
	<div class="circle_main">
		<div class="circle_text_container">
			<div id = "circle_text">
				9
			</div>
		</div>
	</div>
</div>
		
{% endblock %}