{% extends "base.html"  %}
{% block content %}
    <head>
        <link rel="stylesheet" href="{{ url_for('static', filename='mood.css') }}">
        <script type="text/javascript" src="{{url_for('static', filename='js/mood.js') }}"></script>
    </head>



    <h1 id="message">The Mood Ring will change color based on your emotional energy. </h1>


    <div class="container">
    	<div id="canvasHolderMood" align="center"></div>
    </div>
    <script type="text/javascript" src="{{ url_for('static', filename='js/moodP5.js') }}"></script>


    <div id = "format">

    <div id = "colorText"></div>
    <div id = "colorMeaning"></div>

    <button class="checkButton">Check Ring</button>
    </div>



{% endblock %}
