<!--<!DOCTYPE html>
<html>
<head> -->
{% extends "base.html"  %}
{% block content %}
<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
<style>
canvas {
    border: 1px solid #d3d3d3;
    background-color: #B97A57;
}
</style>
<!--</head>-->
<!--<body onload="startGame()"> -->

<script>
//These are the racing blocks!
var object_1;
var object_2;
var object_3;
var object_4;
var object_5;

var player_choice = 0; //player_choice acts as a busy signal to disable the buttons 0 is open 1 is closed
var bounce_bool = 1;
//game dimensions, change these to easilly alter the aspect ratios in the game
var block_height = 30;
var block_width = 30;
var area_width = 480;
var area_height = 270;

var turtle = new Image();
var turtle2 = new Image();
var flag = new Image();
turtle.src = "{{url_for('static', filename='images/turtle.png') }}";
turtle2.src = "{{url_for('static', filename='images/turtle2.png') }}";
flag.src = "{{url_for('static', filename='images/flag.png') }}";
//turtle.src = "turtle.png";
//turtle2.src = "turtle2.png";
//flag.src = "flag.png";

function startGame() {
    myGameArea.init();
    //if refactoring, change the objects to a list so that you can iterate through it instead of keeping track of 5 separate objects
    //more importantly, objects and lines need to match up better
    object_1 = new component(block_width, block_height, "red", 10, 46);
    object_2 = new component(block_width, block_height, "blue", 10, 86);
    object_3 = new component(block_width, block_height, "purple", 10, 126);
    object_4 = new component(block_width, block_height, "yellow", 10, 166);
    object_5 = new component(block_width, block_height, "pink", 10, 206);
    Lines = new lines(area_width, 2, "black", "#22B14C");
    //console.log(object_1.x);
    //console.log(area_width);
    //console.log("inside StartGame()")
    object_1.update();
    object_2.update();
    object_3.update();
    object_4.update();
    object_5.update();
    object_1.tag();
    object_2.tag();
    object_3.tag();
    object_4.tag();
    object_5.tag();
    Lines.update();
}

var myGameArea = {
    canvas : document.createElement("canvas"),
    init : function() {
        this.canvas.width = area_width;
        this.canvas.height = area_height;
        this.context = this.canvas.getContext("2d");
        //document.body.insertBefore(this.canvas, document.body.childNodes[0]);
        document.body.appendChild(this.canvas)
    },
    start : function() {
        this.interval = setInterval(Render, 10);
    },
    clear : function() {
        this.context.clearRect(0, 0, this.canvas.width, this.canvas.height);
    },
    stop : function() {
        clearInterval(this.interval);
    }
}
function lines(width, height, lcolor, bcolor) {
    this.width = width;
    this.height = height;
    this.update = function(){
        ctx = myGameArea.context;
        ctx.fillStyle = bcolor;
        ctx.fillRect(0,0, this.width,40);
        ctx.fillRect(0,240, this.width,area_height);
        ctx.drawImage(flag,440, 0);
        ctx.drawImage(flag,440, 240);
        ctx.fillStyle = lcolor;
        for (i = 1; i < 7; i++) {
            ctx.fillRect(0, (i*40), this.width, this.height);
        }
        
    }
}
function component(width, height, color, x, y) {
    this.width = width;
    this.height = height;
    this.x = x;
    this.y = y;
    this.yy = y; //this is the y coordinate for the color tag, not supposed to bounce
    this.pc = 0;
    this.name = color;
    this.update = function(){
        ctx = myGameArea.context;
        //ctx.fillStyle = color;
        //ctx.fillRect(this.x, this.y, this.width, this.height);
        if (bounce_bool > 0) {
            ctx.drawImage(turtle,this.x,this.y);
        }
        else {
            ctx.drawImage(turtle2,this.x,this.y);
        }
    },
    this.tag = function(){
        ctx = myGameArea.context;
        ctx.fillStyle = color;
        ctx.fillRect(0, this.yy, 10, this.height);
    }
}
//var random_answer_index = Math.floor(Math.random() * answers_length)

function victory_condition(block) {
    if (player_choice < 2) { //player choice will be 0 prior to picking a turtle, once a turtle is picked, player_choice will be 1, once a turtle finishes, player choice will be 2 until Reset() is called
        if (block.x >= (area_width - block_width)) {
            turtle_text.textContent = "the " + block.name + " turtle is the winner!";
            player_choice = 2;  //if player choice is 2 then that means that a turtle has finished, and in case of a tie, the turtle to be evaulated first wins, which is object_1
            myGameArea.stop();
            if (block.pc == 1) {
                alert("Congratulations, your wish will surely come true!")
            }
            else {
                alert("Sorry but your turtle did not win and your wish may not come true just yet")
            }
            //this would be where I would create a reset button to play again
            resetButton = document.createElement('button')
            resetButton.innerHTML = "Reset Game";
            document.body.appendChild(resetButton);
            resetButton.addEventListener('click', Reset)
        }
    }
}
function Reset() {
    player_choice = 0;
    myGameArea.clear();
    turtle_text.textContent = "Pick your Turtle! Current options:";
    startGame(); //I think this creates new objects instead of reusing current objects. Might be a bit wasteful
    document.body.removeChild(resetButton);
}


function Render() {
    myGameArea.clear();
    /*
    object_1.x += Math.floor(Math.random() *3);
    object_2.x += Math.floor(Math.random() *3);
    object_3.x += Math.floor(Math.random() *3);
    object_4.x += Math.floor(Math.random() *3);
    object_5.x += Math.floor(Math.random() *3);
    */
   //placing the objects into a list and iterating through it would probably be for the best
    bounce_bool = bounce_bool * -1; //change y coordinates slightly to add bouncing effect
    object_1.x += Math.random(); //add a random value between 0 and 1
    object_2.x += Math.random();
    object_3.x += Math.random();
    object_4.x += Math.random();
    object_5.x += Math.random();
    object_1.y += bounce_bool;
    object_2.y += bounce_bool;
    object_3.y += bounce_bool;
    object_4.y += bounce_bool;
    object_5.y += bounce_bool;
    object_1.update();
    object_2.update();
    object_3.update();
    object_4.update();
    object_5.update();
    object_1.tag();
    object_2.tag();
    object_3.tag();
    object_4.tag();
    object_5.tag();
    Lines.update();
    victory_condition(object_1); //check for victory/game over
    victory_condition(object_2);
    victory_condition(object_3);
    victory_condition(object_4);
    victory_condition(object_5);
}
function choose_block(selection) {
    //players can currently change their choice while game is running and have multiple blocks
    if (player_choice == 0) {
        var turtle_text = document.getElementById("turtle_text");
        player_choice = 1; //player_choice acts as a busy signal to disable the buttons
        if (selection == 1) {
            turtle_text.textContent = "you picked the " + object_1.name + " turtle, GO " + object_1.name + "!";
            object_1.pc = 1;
        }
        else if (selection == 2) {
            turtle_text.textContent = "you picked the " + object_2.name + " turtle, GO " + object_2.name + "!";
            object_2.pc = 1;
        }
        else if (selection == 3) {
            turtle_text.textContent = "you picked the " + object_3.name + " turtle, GO " + object_3.name + "!";
            object_3.pc = 1;
        }
        else if (selection == 4) {
            turtle_text.textContent = "you picked the " + object_4.name + " turtle, GO " + object_4.name + "!";
            object_4.pc = 1;
        }
        else if (selection == 5) {
            turtle_text.textContent = "you picked the " + object_5.name + " turtle, GO " + object_5.name + "!";
            object_5.pc = 1;
        }
        myGameArea.start();
    }
}
window.onload = startGame();
</script>
<div id ="turtle_game"></div>
<div id="turtle_text">Pick your Turtle! Current options:</div>
<button onclick="choose_block(1)">Red</button>
<button onclick="choose_block(2)">Blue</button>
<button onclick="choose_block(4)">Yellow</button>
<button onclick="choose_block(5)">Pink</button>
<button onclick="choose_block(3)">Purple</button>


<!--</body>
</html>-->
{% endblock %}